<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <%= stylesheet_link_tag "general" %>
    <title>Auctions: <%= controller.action_name %></title>

  </head>

  <body id="users">
    <div id="wrap">

    <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right">
          <font size="2">
          <%= link_to "Home", :controller => "main", :action=> "welcome" %> |
          <%= link_to "My Account", @user %> |
          <%= link_to "Auctions",:controller => "Auctions" %> |
          <%= link_to "Help",:controller => "" %> |
          <%= link_to "Contact us", :action => "" %> |
          <%= link_to "FAQ", :action => "" %>
          </font>
          <tr><td><br></br></td></tr>
        </td>
      </tr>
    </table>




    <table align="center" width="90%<" border="0" cellspacing="0" cellpadding="0">
      <tr><td width="90%"><%= image_tag("logo banner.jpg")  %></td></tr>
      <tr><td><br></br></td></tr>
    </table>

    <table align="center" width="90%" border="0" cellspacing ="0" cellpadding="0">
      <tr>
        <td align="left">
           <% if session[:user_id].nil? %> <strong><i>Welcome!</i></strong>
              <%= link_to "Sign in",:controller => "users", :action => "login" %> or
              <%= link_to "Register",:controller => "users",:action => "new" %>
            <% else %>
              You are logged as: <strong><%= @user[:username] %></strong>.
              <%= link_to "logout",:controller => "users", :action=>"logout" %>
            <% end %>
        </td>
      </tr>
      <tr><td><br></br></td></tr>
    </table>

    <table bgcolor="#fde37d" align="center" width="100%" border="0" cellspacing="6" cellpadding="0">
      <tr><td>
          <form name="input" action="html_form_action.asp" method="get">
            <i>What are you looking for?</i>
        <input type="text" size="30" name="user" />
        <input type="submit" size="15" value="Search Away!" />
        <%= link_to "Advanced Search",:controller => "" %>
      </form>
        </td></tr>
    </table>



    <div id="columns">
      <div id="sideTOP">
        <a href="Activity Summary">
          <table bgcolor="#fde37d" align="center" width="100%" border="0" cellspacing="4" cellpadding="0">
            <tr><td><u> <%= link_to "Activity Summary", @user %> </u></td></tr>
          </table>
        </a><br />
          <table bgcolor="#fde37d" align="center" width="100%" border="0" cellspacing="4" cellpadding="0">
            <tr><td><u><%= link_to "Personal Information", :controller => "users", :action=> "personalInfo" %></u></td></tr>
          </table>
        <br />
         <a href="Messages">
          <table bgcolor="#fde37d" align="center" width="100%" border="0" cellspacing="4" cellpadding="0">
            <tr><td><u><%= link_to "Messages", :controller => "messages", :action=> "show" %></u></td></tr>
          </table>
        </a><br />
        <a href="Watch List">
          <table bgcolor="#fde37d" align="center" width="100%" border="0" cellspacing="4" cellpadding="0">
            <tr><td><u>Watch List</u></td></tr>
          </table>
        </a><br />

        <a href="Watch List">
          <table align="center" width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr><td>&nbsp;</td></tr>
          </table>
        </a><br />



    </div>
    </div>

    <!-- Font codes by Quackit.com -->

    <p style="color: green;font-size:large;"><%= flash[:notice] %></p>
    <p style="color: red"><%= flash[:error] %></p>
    <p style="color: orange"><%= flash[:warning] %></p>


    <%= yield %>



    <div id="inbox">



      <div class="textleft" style="padding-left:120px;">
      <i>You have <%= @message_count.message_count %>  messages in your inbox</i>
    <br /><br />
        <%= link_to "View all", :controller => "messages", :action=> "index" %>
      <%= link_to "Compose", :controller => "messages", :action=> "new" %>
         <%= link_to "Delete", :controller => "messages", :action=> "destroy" %>
        <br /><br />
        <table id ="message" align="center" width="100%" border="2" cellspacing="0" cellpadding="0">
        <tr><td align="center" width="30%"><b>From</b></td><td width="50%" align="center"><b>Subject</b></td><td width="20%"align="center"><b>Received</b></td></tr>
      </table>
            <table align="center" width="100%" border="1" cellspacing="0" cellpadding="0">
                <% if @messages != nil %>
                  <% @messages.each do |message| %>
                  <tr><td width="5%" align="center"><%= link_to  image_tag("delete.jpg"), :controller => "messages", :action=> "destroy" %></td><td align="center" width="25%"><%= message.username %></td><td width="50%" align="center"><a href="/messages/show/<%=  message.id %>"><%= message.title %></a></td><td width="20%"align="center"><b><%= message.send_time %></b></td></tr>
                  <% end %>
                <% end %>
            </table>

        </div>
    </div>









    <div id="footer">

      <th align="center" width="600">
        <%= image_tag("small logo.jpg") %>

        <font size="2">
          <%= link_to "Privacy", :controller => "" %>
          <%= link_to "About us",:controller => "" %>
          <%= link_to "Career" , :action => "" %>
          <%= link_to "Contact" , :action => "" %>

        </font>

      </th>
    </div>

  

    </div>

  </body>
</html>

