
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Congratulations! You have won your bid in Phoenix Auction Site, <%=h @last_user.username %></h1>
    <p>
      Congratulations! You have won your bid in Phoenix Auction Site! <br/>
      Your username is: <%= @last_user.username %>.<br/>
      Your bid is <%=  @auction.auction_name %>.<br/>
      The final bid is  <%=  @auction.current_price %>.
      If you want to check your bid, just follow this link: http://test.com/auctions/show/<%= @auction.id %> .
    </p>
    <p>Thanks for joining us and have a great day!</p>
  </body>
</html>